{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NIT-JSR SellingHub
    </title>
    
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">
    

    <!-- Favicon -->
    <link rel="icon" href="/media/uploads/products/nitjsr.png" type="image/png">

    
    
    

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>





<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="{% url 'index' %}" class="navbar-brand" style="font-size : 20px"> SellingHub</a><img src="{% static 'img/logo1.png' %}" alt="logo" style="height: 40px;">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        

       

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                <!-- <a href=" url 'about' %}" class="nav-item nav-link">About</a> -->
                <a href="{% url 'product' %}" class="nav-item nav-link">Products</a>
                <a href=" {% url 'contact' %}" class="nav-item nav-link">Contact</a> 
                

                
                {% if request.session.student %}

                <a href="{% url 'myproducts' %}" class="nav-item nav-link">MyProducts</a>
                <a href="/logout" class="nav-item nav-link">Logout</a>

                {% else %} 

                <a href="{% url 'admin_login' %}" class="nav-item nav-link">Admin</a>

                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->

{% block main %}

{% endblock %}

<!-- Footer Start -->
<div class="footer">
    <div class="container copyright">
        <div class="row">
            <img src="{% static 'img/college.jpg' %}" alt="Image" style="height: 200px;">
            <div style="position: relative; height: 200px; width: 750px;"> <!-- Container to position the image -->
                <img src="{% static 'img/hostel.jpg' %}" alt="Image" style="position: absolute; top: 50%; right: 0; transform: translateY(-50%); height: 200px;"> <!-- Image -->
            </div>
            
            <div class="col-md-12 text-center">
                <p>&copy; <script>document.write(new Date().getFullYear());</script> National Institue of Technology, Jamshedpur.</p>
            </div>

        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Back to top button -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- Pre Loader -->
<div id="loader" class="show">
    <div class="loader"></div>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/parallax/parallax.min.js' %}"></script>

<!-- Contact Javascript File -->
<script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
<script src="{% static 'mail/contact.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>