{% extends 'admin_base.html' %}
{% load static %}
{% block main %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard</h5>
                        </div>
                        <ul class="breadcrumb mt-5">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        </ul>
                        

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
           
        </div>
    </div>
</div>

{% endblock %}