{% extends 'admin_base.html' %}
{% load static %}
{% block main %}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Manage Category</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i
                                    class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="">Category</a></li>
                            <li class="breadcrumb-item"><a href="">Manage Category</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Manage State</h5>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="ml-5">S.No.</th>
                                    <th>Category Name</th>
                                    
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in category %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.name}}</td>
                                    <td><a href="{% url 'editcategory' i.id %}" class="text-primary">Edit</a> |
                                        <a href="{% url 'deletecategory' i.id %}" class="text-danger">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ basic-table ] end -->

        </div>
    </div>
</section>

{% endblock %}
